Q1. Reverse a String

In [ ]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))  # Output: "olleh"

olleh

Q2. Count Number of Vowels in a String

In [ ]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

print(count_vowels("Education"))  # Output: 5

5

Q3. Check if a String is Palindrome

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))   # True
print(is_palindrome("hello"))   # False

True
False

Q4. Check if Two Strings are Anagrams

In [ ]:
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

print(are_anagrams("listen", "silent"))  # True
print(are_anagrams("hello", "world"))    # False

True
False

Q5. Find All Occurrences of a Substring

In [ ]:
def find_occurrences(text, sub):
    indices = []
    start = 0
    while start < len(text):
        index = text.find(sub, start)
        if index == -1:
            break
        indices.append(index)
        start = index + 1
    return indices

print(find_occurrences("banana", "ana"))  # [1, 3]

[1, 3]

Q6. Basic String Compression

In [ ]:
def compress_string(s):
    compressed = ""
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed += s[i - 1] + str(count)
            count = 1
    compressed += s[-1] + str(count)
    return compressed if len(compressed) < len(s) else s

print(compress_string("aaabbccc"))  # a3b2c3

a3b2c3

Q7. Check if String has All Unique Characters

In [ ]:
def has_unique_chars(s):
    return len(set(s)) == len(s)

print(has_unique_chars("python"))  # True
print(has_unique_chars("hello"))   # False

True
False

Q8. Convert String to Uppercase or Lowercase

In [ ]:
def convert_case(s, to_upper=True):
    return s.upper() if to_upper else s.lower()

print(convert_case("Hello World", True))   # "HELLO WORLD"
print(convert_case("Hello World", False))  # "hello world"

HELLO WORLD
hello world

Q9. Count Number of Words in a String

In [ ]:
def count_words(s):
    return len(s.split())

print(count_words("Python is fun"))  # 3

3

Q10. Concatenate Strings Without + Operator

In [ ]:
def concat_strings(s1, s2):
    return "{}{}".format(s1, s2)

print(concat_strings("Hello", "World"))  # "HelloWorld"

HelloWorld

Q11. Remove All Occurrences of an Element from List

In [ ]:
def remove_element(lst, elem):
    return [x for x in lst if x != elem]

print(remove_element([1, 2, 3, 2, 4, 2, 5], 2))  # [1, 3, 4, 5]

[1, 3, 4, 5]

Q12. Find the Second Largest Number in a List

In [ ]:
def second_largest(lst):
    unique_sorted = sorted(set(lst), reverse=True)
    return unique_sorted[1] if len(unique_sorted) > 1 else None

print(second_largest([10, 20, 4, 45, 99]))  # 45

45

Q13. Count Occurrences of Each Element in a List

In [ ]:
def count_occurrences(lst):
    freq = {}
    for item in lst:
        freq[item] = freq.get(item, 0) + 1
    return freq

print(count_occurrences([1, 2, 2, 3, 3, 3]))
# {1: 1, 2: 2, 3: 3}

{1: 1, 2: 2, 3: 3}

Q14. Reverse a List In-Place (Without Built-in Reverse)

In [ ]:
def reverse_list(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1
    return lst

print(reverse_list([1, 2, 3, 4, 5]))
# [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

Q15. Remove Duplicates from List (Preserve Order)

In [ ]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            result.append(item)
            seen.add(item)
    return result

print(remove_duplicates([1, 2, 2, 3, 4, 3, 5]))
# [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

Q16. Check if List is Sorted (Ascending or Descending)

In [ ]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

print(is_sorted([1, 2, 3, 4]))      # True (ascending)
print(is_sorted([5, 4, 3, 2]))      # True (descending)
print(is_sorted([1, 3, 2]))         # False

True
True
False

Q17. Merge Two Sorted Lists into One

In [ ]:
def merge_sorted_lists(l1, l2):
    i = j = 0
    merged = []
    while i < len(l1) and j < len(l2):
        if l1[i] < l2[j]:
            merged.append(l1[i])
            i += 1
        else:
            merged.append(l2[j])
            j += 1
    merged.extend(l1[i:])
    merged.extend(l2[j:])
    return merged

print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))
# [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

Q18. Intersection of Two Lists

In [ ]:
def list_intersection(l1, l2):
    return list(set(l1) & set(l2))

print(list_intersection([1, 2, 3], [2, 3, 4]))
# [2, 3]

[2, 3]


Q19. Union of Two Lists Without Duplicates

In [ ]:
def list_union(l1, l2):
    return list(set(l1) | set(l2))

print(list_union([1, 2, 3], [3, 4, 5]))
# [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

Q20. Shuffle List Without Built-in Shuffle

In [ ]:
import random

def custom_shuffle(lst):
    for i in range(len(lst)-1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]
    return lst

print(custom_shuffle([1, 2, 3, 4, 5]))
# Output varies (e.g., [3, 5, 1, 4, 2])

[4, 3, 1, 5, 2]

Q21. Common Elements in Two Tuples

In [ ]:
def common_elements(t1, t2):
    return tuple(set(t1) & set(t2))

print(common_elements((1, 2, 3, 4), (3, 4, 5, 6)))
# (3, 4)

(3, 4)

Q22. User Input → Two Sets Intersection

In [ ]:
def sets_intersection():
    s1 = set(map(int, input("Enter first set (comma separated): ").split(',')))
    s2 = set(map(int, input("Enter second set (comma separated): ").split(',')))
    print("Intersection:", s1 & s2)

# Example input:
# Enter first set (comma separated): 1,2,3,4
# Enter second set (comma separated): 3,4,5,6
# Output → Intersection: {3, 4}

Q23. Concatenate Two Tuples

In [ ]:
def concat_tuples(t1, t2):
    return t1 + t2

print(concat_tuples((1, 2), (3, 4)))
# (1, 2, 3, 4)

(1, 2, 3, 4)